- form_for [:admin, admin], :html => { :multipart=>true } do |f|
  .backgrounds.big-header
    = f.text_field :firstname
    = f.text_field :lastname
    .interact-links
      = fg_submit_tag 'save_changes'
      = I18n.t('or')
      = link_to I18n.t('cancel').capitalize, admin_administrators_path, :class => 'back-link'
  #content.grid_16.alpha.omega
    .grid_12.alpha
      .inner-content
        - admin.build_avatar unless admin.avatar
        - f.fields_for :avatar do |avatar|
          = avatar.label :uploaded_data, I18n.t('avatar').capitalize
          %div
            = image_tag(admin.avatar.public_filename(:thumb)) unless admin.avatar.new_record?
            = avatar.file_field :uploaded_data
        = f.label :email, I18n.t('email')
        %div 
          = f.text_field :email
        = f.label :password, I18n.t('password')
        %div
          = f.password_field :password
        = f.label :password_confirmation, I18n.t('password_confirmation')
        %div
          = f.password_field :password_confirmation
        = f.label :role_id, I18n.t('role', :count => 1)
        %div
          = f.collection_select :role_id, Role.find_all_by_active(true), :id, :name, { :prompt => I18n.t('please_select')}
    #right-sidebar.grid_4.omega
      - unless admin.new_record?
        .step
          = mail_to admin.email,I18n.t('admin.contact.action'),  :class => 'small-icons contact'
          =# link_to I18n.t('admin.duplicate.action'), [:duplicate,:admin,admin], :class => 'small-icons duplicate'
          = link_to I18n.t('admin.destroy.action').capitalize, [:admin, admin], :confirm => I18n.t('admin.destroy.confirm').capitalize, :method => :delete, :class => 'small-icons delete'
