%ul.ui-tabs-nav.ui-helper-reset.ui-helper-clearfix.ui-widget-header.ui-corner-all
  %li.ui-state-default.ui-corner-top.ui-tabs-selected.ui-state-active= link_to t(:admin, :count => 2).capitalize, '#content'
  %li.ui-state-default.ui-corner-top= link_to t(:role, :count => 2).capitalize, forgeos_core.admin_roles_path
  %li.ui-state-default.ui-corner-top= link_to t(:right, :count => 2).capitalize, forgeos_core.admin_rights_path
  %li.ui-state-default.ui-corner-top= link_to t(:import, :count => 1).capitalize, forgeos_core.admin_import_path
  %li.ui-state-default.ui-corner-top= link_to t(:caching, :count => 1).capitalize, forgeos_core.admin_cachings_path
