.fieldset.noborder
  .street-input
    %label=t :email
    = f.text_field :email
  .street-input
    %label
      =t :password
    = f.password_field :password
    %label
      =t :password_confirmation
    = f.password_field :password_confirmation
  .clear
  .street-input
    %label=t :telephone
    = f.text_field :phone
  .street-input
    %label=t :other_telephone
    = f.text_field :other_phone
  = f.hidden_field :country_id
