= form_for [forgeos_core, :admin, user], :as => :user, :html => { :id => 'wrap', :autocomplete => 'off', "data-object_name" => user.class.model_name.singular } do |f|
  .backgrounds.big-header
    = f.select :civility, t('civility.select'), { :prompt => t(:please_select) }, :class => 'civility'
    = f.text_field :firstname, :placeholder => t('firstname'), :class => 'field_name firstname'
    = f.text_field :lastname, :placeholder => t('lastname'), :class => 'field_name lastname'
    .interact-links
      = forgeos_save_buttons forgeos_core.admin_users_path

  #content.grid_16.alpha.omega
    #customer-see.grid_12.alpha.omega
      // .customer-header.backgrounds
      .padding-wrap
        = render :partial => 'fieldset_account_informations', :locals => { :user => user, :f => f }
        /
          .fieldset.messages-fieldset
            %h3
              Messages
            .received-message
              %a.small-icons{ :href => '#' }
                New message!
              %span
                Received on 28/08/88
            .sent-message
              %a.small-icons
                New message!
              %span
                Sent on 28/08/88
            .send-message
              %label
                Title
              %input.all-width{ :type => 'text' }
              %label
                Body
              %textarea
              .clear
              %a.backgrounds.button{ :href => '#' }
                Send message
              =t 'or'
              %a.back-link{ :href => '#' }
                Cancel

    -unless user.new_record?
      #right-sidebar.grid_4.omega.alpha
        .step
          = mail_to @user.email, i(:envelope) + t('user.contact')
          = link_to [forgeos_core, :admin, user], :confirm => t('user.destroy.confirm'), :method => :delete do
            = i :trash
            = t 'user.destroy.action'
        .step.disabled
          = link_to t('newsletter', :count => 2), '#', :class => 'small-icons step-title'
        #user_created_on.step.open
          = link_to t('user.history'), '#', :class => 'small-icons step-title'
          .inner-step
            %p
              =t 'created_on'
              = @user.created_at.to_date
      .clear
