.big-header
  %h1= @user.full_name
  .interact-links
    = link_to t('user.update.action'), [forgeos_core, :edit, :admin, @user], :class => 'btn btn-large btn-primary'
    = link_to t('user.back'), [forgeos_core, :admin, :users], :class => 'btn btn-mini'
#content.row-fluid
  #customer-see.span9
    // .customer-header.backgrounds
    .padding-wrap
      .fieldset
        %h3=t 'user.customer_infos'
        .main-infos
          .main-infos-cutomer
            %h4.small-icons=t 'user.contact_infos'
            %p= @user.phone
            %p.customer-email= @user.email
        .clear

  #right-sidebar.span3
    .step
      = mail_to @user.email, i(:envelope) + t('user.contact')
      = link_to [forgeos_core, :admin, @user], :confirm => t('user.destroy.confirm'), :method => :delete do
        = i :trash
        = t 'user.destroy.action'
    .step.disabled
      = link_to t('newsletter', :count => 2), '#', :class => 'icon-step-title'
    #user_history.step.open
      = link_to t('user.history'), '#', :class => 'icon-step-title'
      .inner-step
        %p
          =t 'created_on'
          = @user.created_at.to_date
  .clear
