.big-header.form-horizontal
  .form-actions
    = link_to t('user.update.action'), [forgeos_core, :edit, :admin, @user], :class => 'btn btn-large btn-primary'
    = t('simple_form.buttons.or')
    = link_to t('simple_form.buttons.cancel'), [forgeos_core, :admin, :users], :class => 'btn btn-mini'
    = link_to t('.assume_id'), [forgeos_core, :assume, :admin, @user], :class => 'btn btn-large btn-danger'
  %h1= @user.full_name
#content.row-fluid.form-horizontal
  .span9
    .inner-content
      %fieldset.well
        %legend=t '.infos'
        - (@user.class.content_columns.map(&:name).map(&:to_sym) - [:perishable_token, :persistence_token, :crypted_password, :password_salt ]).each do |column|
          .control-group
            %label.control-label= Forgeos::User.human_attribute_name(column)
            .controls
              = @user.send(column)

  #right-sidebar.span3
    .step
      = mail_to @user.email, i(:envelope) + t('user.contact')
      = link_to [forgeos_core, :admin, @user], :data => { :confirm => t('user.destroy.confirm')}, :method => :delete do
        = i :trash
        = t 'user.destroy.action'
    .step.disabled
      = link_to t('newsletter', :count => 2), '#', :class => 'icon-step-title'
    #user_history.step.open
      = link_to t('user.history'), '#', :class => 'icon-step-title'
      .inner-step
        %p
          =t 'created_on'
          = @user.created_at.to_date
  .clear
