.backgrounds.big-header
  %h1
    =h @user.firstname
    =h @user.lastname
  .interact-links
    = link_to I18n.t('account.update.action').capitalize, forgeos_core.edit_admin_account_path, :class => 'backgrounds interact-button'
#content.grid_16.alpha.omega
  .grid_12.alpha
    #customer-see.inner-content
      .fieldset
        %h3= t(:infos, :scope => [:back_office, :account]).capitalize
        .main-infos
          .main-infos-cutomer
            %h4{:class => 'small-icons'}= "#{t(:avatar).capitalize} :"
            %div
              - if @user.avatar && !@user.avatar.filename.nil?
                = image_tag(@user.avatar.public_filename(:thumb))
          .order-billing-adress
            %h4{:class => 'small-icons'}= "#{t('email').capitalize} :"
            %div
              =h @user.email
        .clear

