= form_for [forgeos_core, :admin, Attachment.new], :html => { :multipart => true } do |f|
  #attachmentUploadDialog.upload-lightbox-container.white
    #attachmentUpload
      = f.file_field :uploaded_data
      = hidden_field_tag :target, params[:target]
      = hidden_field_tag :target_id, params[:target_id]
      = f.submit I18n.t('save').capitalize
