- form_for [:admin, Attachment.new], :html => { :multipart => true } do |f|
  #imageUploadDialog.upload-lightbox-container.white
    #imageUpload
      = f.file_field :uploaded_data
      = hidden_field_tag :target, params[:target]
      = hidden_field_tag :target_id, params[:target_id]
      = f.submit I18n.t('save').capitalize

:javascript
  function initImageUpload(link) {
    jQuery('#imageUploadDialog').dialog('open');
    jQuery('#imageUploadDialog').html('<div id="imageUpload"></div>');
    var uploadify_datas = {
      "parent_id": jQuery('#parent_id_tmp').val(),
      "format": "json"
    };
    uploadify_datas[window._forgeos_js_vars.session_key] = window._forgeos_js_vars.session;

    jQuery('#imageUpload').uploadify({
      "uploader": "/images/uploadify/uploadify.swf",
      "cancelImg": "#{image_path("admin/big-icons/delete-icon.png")}",
      "script": "#{admin_attachments_path(:file_type => "picture")}",
      "buttonImg": "#{image_path("uploadify/upload-#{file_type}_#{I18n.locale}.png")}",
      "width": "154",
      "height": "24",
      "scriptData": uploadify_datas,
      "ScriptAccess": "always",
      "multi": "true",
      "displayData": "speed",
      "onComplete": function(e,queueID,fileObj,response,data) {
        if(typeof JSON=="object" && typeof JSON.parse=="function") {
          result = JSON.parse(response);
        } else{
          result = eval('(' + response + ')');
        }
        if (result.result == 'success'){
          jQuery('#table').dataTableInstance.fnDraw();
          jQuery.tree.focused().refresh();
        } else {
          display_notification_message('error',result.error);
        }
      },
      "onAllComplete": function() {
        jQuery('#imageUploadDialog').dialog('close');
      }
    });
  }

= stylesheet_link_tag 'admin/uploadify'
= javascript_include_tag %w(swfobject jquery.uploadify)
