= image_tag(media.public_filename(:small),:title=>media.filename, :id => "attachment_#{media.id}")
%br
= "#{media.content_type} - #{media.size/1024} Ko"
/
  %br
  =# NOT USED select_tag :thumbnail, options_for_select(media.attachment_options[:thumbnails].keys)
