%strong total :
= @results[:total]
%br
%strong created :
= @results[:created]
%br
%strong updated :
= @results[:updated]

- if errors_count = @results[:errors].flatten.size and errors_count > 0
  %br
  %h4 errors :
  %strong total :
  = errors_count
  %br
  %ul
    - @results[:errors].each do |error|
      %li= error.inspect
