#sidebar.grid_4.omega.alpha
  .backgrounds.header
    %span.backgrounds.action-button.create-action
      %span.big-icons.new-category
      %span.small-icons.arrow
      %span.create-list
        %span.shadow
        %span.big-icons.create-folder
          = I18n.t('folder.create').capitalize
          -#%span.small-icons.create-smart-folder
          -#= I18n.t('folder.smart').capitalize
    %span.backgrounds.action-button.update-action
      %span.small-icons.more-actions
      %span.small-icons.arrow
        %span.update-list
          %span.shadow
          %span.small-icons.modify-folder
            = I18n.t('folder.edit').capitalize
          %span.small-icons.duplicate-folder
            = I18n.t('folder.duplicate').capitalize
          %span.small-icons.delete-folder
            = I18n.t('folder.destroy').capitalize
  .backgrounds.sidebar-background
  .sidebar-content
    %h2.small-icons{ :class => icon_class }
      = link_to_function I18n.t(sidebar_title).capitalize, "select_all_elements_without_category()"
    .init-tree.a-tree.category-tree{ :id => tree_id }
    = form_for [forgeos_core, :admin, Category.new], :html => { :multipart => true } do |f|
      = render :partial => 'admin/sidebars/attachments_popups', :locals => {:form => f}