= render :partial => 'lang_switcher'
= render :partial => 'tabs'
= form_tag([forgeos_core, :admin, :import] , :multipart => true, :id => 'import_form') do
  .backgrounds.big-header
    .interact-links
      = fg_submit_tag 'import.send_file'
  #content.grid_16.alpha.omega
    .grid_12.alpha
      .inner-content
        - if ImportSet.count > 0
          = label_tag :set_id, t(:import_set, :count => 1)
          = select_tag :set_id, options_from_collection_for_select([ImportSet.new(:name => 'Please select')]+ ImportSet.all, :id, :name)
          %br
        = label :import, :model, t('import.model')
        = select :import, :model, options_for_select(@models.sort.map{|model| [t(model,:count => 2),model] }), { :prompt => true }
        %br
        = label_tag :file, t('import.file')
        = file_field_tag :file
    #right-sidebar.grid_4.omega
      .step
        = label :parser_options, :col_sep, t('import_set.col_sep')
        = text_field :parser_options, :col_sep, :value => ',', :size => 2
        %br
        = label :parser_options, :quote_char, t('import_set.quote_char')
        = text_field :parser_options, :quote_char, :value => '"', :size => 2
