= render :partial => 'tabs'
#sidebar.grid_4.omega.alpha
  .backgrounds.header
    %span.backgrounds.action-button
      %span.big-icons.new-category
      %span.small-icons.arrow
  .backgrounds.sidebar-background
  .sidebar-content
    %h2.small-icons.all-rights
      = I18n.t('right.all').capitalize
    #right-tree.init-tree
#content.grid_12.alpha.omega
  .backgrounds.header
    = link_to content_tag(:span,I18n.t('right.create.action').capitalize, :class=>'big-icons create-rights'), '#', :class=>'backgrounds action-button'
    #search.right
      = link_to content_tag(:span, I18n.t('search').capitalize, :class => 'small-icons search-span'), '#', :class => 'small-icons left search-link'
    .backgrounds.search-form
  .content-background
  %table#table.datatable.draggable_rows

= dataTables_tag :url => admin_rights_path(:format => :json), :columns => ["{'bSearchable':false,'bSortable':false}","{'sTitle':'#{I18n.t :name}'}","{'sTitle':'#{I18n.t :controller_name}'}","{'sTitle':'#{I18n.t :action_name}'}","{'sClass':'actions-td','bSearchable':false,'bSortable':false}"]
