= render :partial => 'tabs'
#sidebar.grid_4.omega.alpha
  .backgrounds.header
    %a.backgrounds.action-button{ :href => "#" }
      %span.big-icons.new-category
      %span.small-icons.arrow
  .backgrounds.sidebar-background
  .sidebar-content
    %h5.small-icons.all-admins
      = I18n.t('admin.all').capitalize
    #admin-tree
      %ul
        = render :partial => 'admin/categories/list', :locals => { :categories => AdminCategory.find_all_by_parent_id(nil) }
#content.grid_12.alpha.omega
  .backgrounds.header
    = link_to I18n.t('admin.create.action').capitalize, new_admin_admin_path
    #search.right
      = link_to content_tag(:span, I18n.t('search').capitalize, :class => 'small-icons search-span'), '#', :class => 'small-icons left search-link'
    .backgrounds.search-form
  .content-background
  %table#table.datatable
    %thead
      %tr
        %th
        %th
          = I18n.t('name').capitalize
        %th
          = I18n.t('role.one').capitalize
        %th
          = I18n.t('email').capitalize
        %th
          = I18n.t('created_on').capitalize
        %th.actions-td
    %tbody

= dataTables_tag 6, :url => admin_admins_path(:format => :json)

