= render :partial => 'tabs'
= render :partial => 'admin/sidebars/left_sidebar', :locals => {:icon_class => 'all-admins', :sidebar_title => 'admin.all', :tree_id =>'admins-tree' }
#content.grid_12.alpha.omega
  .backgrounds.header
    = link_to content_tag(:span,I18n.t('admin.create.action').capitalize, :class=>'big-icons create-admin'), new_admin_admin_path, :class=>'backgrounds action-button'
    #search.right
      = fg_search
    .backgrounds.search-form
  .content-background
  %table#table.datatable.draggable_rows
    
= dataTables_tag :url => admin_admins_path(:format => :json), :columns => ["{'bSearchable':false,'bSortable':false}","{'sTitle':'#{I18n.t :name}'}","{'sTitle':'#{I18n.t :role, :count => 1}'}","{'sTitle':'#{I18n.t :email}'}","{'sTitle':'#{I18n.t :created_on}'}","{'sClass':'actions-td','bSearchable':false,'bSortable':false}"]
