.backgrounds.big-header
  = @admin.firstname
  = @admin.lastname
  .interact-links
    = link_to I18n.t('admin.update.action').capitalize, [:edit, :admin, @admin], :class => 'backgrounds interact-button'
    = I18n.t('or')
    = link_to I18n.t('cancel').capitalize, admin_admins_path, :class => 'back-link'
#content.grid_16.alpha.omega
  .grid_12.alpha
    .inner-content
      = I18n.t('avatar')
      %div
        = image_tag(@admin.avatar.public_filename(:small)) if @admin.avatar
      = I18n.t('email')
      %div 
        = @admin.email
      = I18n.t(:role, :count => 1)
      %div
        = @admin.role.name
  #right-sidebar.grid_4.omega
    .step
      = mail_to @admin.email,I18n.t('admin.contact.action'),  :class => 'small-icons contact'
      =# link_to I18n.t('admin.duplicate.action'), [:duplicate,:admin,@admin], :class => 'small-icons duplicate'
      = link_to I18n.t('admin.destroy.action').capitalize, [:admin, @admin], :confirm => I18n.t('admin.destroy.confirm').capitalize, :method => :delete, :class => 'small-icons delete'
