#fileUpload
  - form_for [:admin, media], :html => { :multipart => true } do |f|
    = f.error_messages
    = f.file_field :uploaded_data
    = hidden_field_tag :target, params[:target]
    = hidden_field_tag :target_id, params[:target_id]
    = f.submit I18n.t('save').capitalize
- content_for :tools, link_to(I18n.t('list').capitalize, admin_medias_path, :class => 'house' )

= javascript_include_tag %w(jquery.uploadify swfobject)
= stylesheet_link_tag 'admin/uploadify'
- session_key = ActionController::Base.session_options[:key]
- javascript_tag do
  $(function(){
  $('#fileUpload').uploadify({
  'uploader': '/images/uploadify/uploadify.swf',
  = "'cancelImg': '#{image_path('uploadify/cancel.png')}',"
  = "'script': '#{media.new_record? ? admin_medias_path : admin_media_path(media)}',"
  'scriptData': { 
  = "'target': '#{params[:target]}',"
  = "'target_id': '#{params[:target_id]}', "
  'format': 'json',
  = "'authenticity_token': encodeURIComponent('#{form_authenticity_token}'),"
  = "'#{session_key}': encodeURIComponent('#{cookies[session_key]}')"
  },
  'ScriptAccess': 'always',
  'multi': 'true',
  'displayData': 'speed',
  'onAllComplete': function(){
  = display_standard_flashes(I18n.t('media.create.success').capitalize,false)
  }
  });});

= link_to_function I18n.t('media.upload.start').capitalize, "$('#fileUpload').uploadifyUpload()"
|
= link_to_function I18n.t('media.upload.clear_queue').capitalize,"$('#fileUpload').uploadifyClearQueue()"
