%table#table
  %thead
    %tr
      - if defined?(target) && defined?(target_id)
        %th
          = I18n.t('position').capitalize
      %th
        = I18n.t('media.filename').capitalize
      %th
        = I18n.t('media.type.other').capitalize
      %th
        = I18n.t('media.content_type').capitalize
      %th
        = I18n.t('media.size').capitalize
      %th
        = I18n.t('action.other').capitalize
  %tbody#media_list
    - unless medias.nil? or medias.blank?
      - medias.each do |media|
        %tr{ :class => cycle('even', 'odd'), :id => "media_#{media.id}" }
          - if defined?(target) && defined?(target_id)
            %td
              = media.sortable_attachments.find_by_attachable_id(target_id).position 
          %td
            = media.filename
          %td
            = media.class.human_name.capitalize
          %td
            = media.content_type
          %td
            = media.size
            = I18n.t('media.byte', :count => media.size)
          %td
            = link_to I18n.t('show').capitalize, admin_media_path(media)
            \-
            = link_to I18n.t('download').capitalize, download_admin_media_path(media), :popup => true
            \-
            - if defined?(remote) && remote
              = link_to_remote I18n.t('destroy').capitalize, :url => admin_media_path(media, :target => defined?(target) ? target : nil, :target_id => defined?(target_id) ? target_id : nil), :confirm => I18n.t('media.destroy.confirm'), :method => 'delete'
            - else
              = link_to I18n.t('destroy').capitalize, admin_media_path(media), :method => 'delete', :confirm => I18n.t('media.destroy.confirm').capitalize

- if defined?(target) && defined?(target_id)
  = dataTables_tag(6, true, true)
  = sortable_element 'media_list', :url => { :controller => 'admin/medias', :action => 'sort', :id => defined?(target_id) ? target_id : nil, :target => defined?(target) ? target : nil }, :complete => visual_effect(:highlight, 'media_list'), :tag => 'tr' if defined?(target) && defined?(target_id)
- else
  = dataTables_tag(5)
