= form_for @person_session, :url => [forgeos_core, :person_session], :html => { :autocomplete => 'off', :class => 'login_form' } do |f|
  = f.label :email, t(:email).capitalize
  = f.text_field :email
  = f.label :password, t(:password).capitalize
  = f.password_field :password
  = f.check_box :remember_me
  = f.label :remember_me, t(:remember_me).capitalize, :class => 'remember'
  = f.submit t('log.in.action').capitalize, :class => 'submit_contact'
  .clear
