= render :partial => 'tabs'
= form_for [forgeos_core, :admin, role],  :html => { :id => 'wrap' } do |f|
  = hidden_field_tag "role[right_ids][]"

  .backgrounds.big-header
    = f.text_field :name, :class => 'field_name'
    .interact-links
      = Forgeos_save_buttons [forgeos_core,:admin,:roles]

  #content.grid_16.alpha.omega
    .grid_12.alpha
      .padding-wrap
        - right_categories = RightCategory.order('name').joins(:translations)
        - right_categories.each do |right_category|
          .fieldset
            %a.small-icons.panel{ :href => '#' }
              = right_category.name
            .option-panel-content
              .clear
              .multi-select-div
                %a{ :href => '#' }
                  = t('select_all').capitalize
                %a{ :href => '#' }
                  = t('unselect_all').capitalize
              - right_category.rights.each do |right|
                .checkbox-container
                  = check_box_tag "role[right_ids][]", right.id, (role ? role.rights.include?(right) : false)
                  %label= right.name
              .clear

      - rights = Right.where(:conditions => { :categories => {:id => nil} }).includes(:categories)
      - unless rights.nil?
        .fieldset
          %a.small-icons.panel{ :href => '#' }
            = t('other')
          .option-panel-content
            .clear
            .multi-select-div
            - rights.each do |right|
              .checkbox-container
                = check_box_tag "role[right_ids][]", right.id, (role ? role.rights.include?(right) : false)
                %label= right.name
              .clear


    #right-sidebar.grid_4.omega.alpha
      - unless role.new_record?
        .step
          /= link_to t('role.duplicate').capitalize, [:duplicate, :admin, role], :class => 'small-icons duplicate'
          = link_to t('user.destroy.action').capitalize, [forgeos_core, :admin, role], :confirm => t('user.destroy.confirm').capitalize, :method => :delete, :class => 'small-icons delete'
        #role_attributed_to.step.open
          %a.small-icons.step-title{ :href => "#" }
            = t('role.attributed_to').capitalize
          - role.administrators.each do |admin|
            = admin.fullname

    .clear
