= render :partial => 'tabs'
- form_for [:admin, role],  :html => { :id => 'wrap' } do |f|
  = hidden_field_tag "role[right_ids][]"

  .backgrounds.big-header
    = f.text_field :name
    .interact-links
      = submit_tag I18n.t('save_changes').capitalize, :class => 'backgrounds interact-button'
      = I18n.t('or')
      = link_to I18n.t('cancel').capitalize, admin_roles_path, :class => 'back-link'

  #content.grid_16.alpha.omega
    .grid_12.alpha
      .padding-wrap
        - right_categories = RightCategory.all(:include => :globalize_translations, :order => 'name' )
        - right_categories.each do |right_category|
          .fieldset
            %a.small-icons.panel{ :href => '#' }
              = right_category.name
            .option-panel-content
              .clear
              .multi-select-div
                %a{ :href => '#' }
                  = I18n.t('select_all').capitalize
                %a{ :href => '#' }
                  = I18n.t('unselect_all').capitalize
              - right_category.rights.each do |right|
                .checkbox-container
                  = check_box_tag "role[right_ids][]", right.id, (role ? role.rights.include?(right) : false)
                  %label= right.name
              .clear

      - rights = Right.all(:include => :right_categories, :conditions => { :categories => {:id => nil} })
      - unless rights.nil?
        .fieldset
          %a.small-icons.panel{ :href => '#' }
            = I18n.t('other')
          .option-panel-content
            .clear
            .multi-select-div
            - rights.each do |right|
              .checkbox-container
                = check_box_tag "role[right_ids][]", right.id, (role ? role.rights.include?(right) : false)
                %label= right.name
              .clear


    #right-sidebar.grid_4.omega.alpha
      - unless role.new_record?
        .step
          /= link_to I18n.t('role.duplicate').capitalize, [:duplicate, :admin, role], :class => 'small-icons duplicate'
          = link_to I18n.t('user.destroy.action').capitalize, [:admin, role], :confirm => I18n.t('user.destroy.confirm').capitalize, :method => :delete, :class => 'small-icons delete'
        #role_attributed_to.step.open
          %a.small-icons.step-title{ :href => "#" }
            = I18n.t('role.attributed_to').capitalize
          - role.admins.each do |admin|
            = admin.fullname

    .clear
