= render :partial => 'tabs'
#sidebar.grid_4.omega.alpha
  .backgrounds.header
    %span.backgrounds.action-button
      %span.big-icons.new-category
      %span.small-icons.arrow
  .backgrounds.sidebar-background
  .sidebar-content
    %h2.small-icons.all-roles
      = I18n.t('role.all').capitalize
    #role-tree.init-tree
#content.grid_12.alpha.omega
  .backgrounds.header
    = link_to content_tag(:span,I18n.t('role.create.action').capitalize, :class=>'big-icons create-role'), new_admin_role_path, :class=>'backgrounds action-button'
    #search.right
      = fg_search
    .backgrounds.search-form
  .content-background
  %table#table.datatable
    
= dataTables_tag :url => admin_roles_path(:format => :json), :columns => ["{'bSearchable':false,'bSortable':false}","{'sTitle':'#{I18n.t :name}'}","{'sTitle':'#{I18n.t :admin, :count => 2}'}","{'sTitle':'#{I18n.t :created_on}'}","{'sTitle':'#{I18n.t :active} ?'}","{'sClass':'actions-td','bSearchable':false,'bSortable':false}"]
