.backgrounds.big-header
  %h1= @role.name
  .interact-links
    = link_to I18n.t('role.update.action').capitalize, [:edit, :admin, @role], :class => 'backgrounds interact-button'
    = I18n.t('or')
    = link_to I18n.t('back_to_catalog').capitalize, admin_roles_path, :class => 'back-link'

#content.grid_16.alpha.omega
  .grid_12.alpha
    .padding-wrap
      - right_categories = RightCategory.all( :order => 'name' )
      - right_categories.each do |right_category|
        - unless right_category.rights.nil?
          .fieldset
            %a.small-icons.panel{ :href => '#' }
              = right_category.name
            .option-panel-content
              .clear
              - right_category.rights.each do |right|
                %label= right.name
              .clear

      - rights = Right.all(:include => :right_categories, :conditions => { :categories => {:id => nil} })
      - unless rights.nil?
        .fieldset
          %a.small-icons.panel{ :href => '#' }
            = I18n.t('other')
          .option-panel-content
            .clear
            .multi-select-div
            - rights.each do |right|
              .checkbox-container
                %label= right.name
              .clear

  #right-sidebar.grid_4.omega.alpha
    .step
      /= link_to I18n.t('role.duplicate').capitalize, [:duplicate, :admin, @role], :class => 'small-icons duplicate'
      = link_to I18n.t('user.destroy.action').capitalize, [:admin, @role], :confirm => I18n.t('user.destroy.confirm').capitalize, :method => :delete, :class => 'small-icons delete'
    .step.open
      %a.small-icons.step-title{ :href => "#" }
        = I18n.t('role.attributed_to').capitalize
      .admins-list
        - @role.admins.each do |admin|
          .admin
            %span.small-icons.user-ico
              .user-name
                = link_to admin.fullname, [:admin, admin]
        .clear
