.backgrounds.big-header
  %h1= @role.name
  .interact-links
    = link_to t('role.update.action').capitalize, [forgeos_core, :edit, :admin, @role], :class => 'backgrounds interact-button'
    = t('or')
    = link_to t('back_to_catalog').capitalize, [forgeos_core, :admin, :roles], :class => 'back-link'

#content.grid_16.alpha.omega
  .grid_12.alpha
    .padding-wrap
      - right_categories = RightCategory.all(:include => :translations, :order => 'name' )
      - right_categories.each do |right_category|
        - unless right_category.rights.nil?
          .fieldset
            %a.small-icons.panel{ :href => '#' }
              = right_category.name
            .option-panel-content
              .clear
              - right_category.rights.each do |right|
                %label= right.name
              .clear

      - rights = Right.all(:include => :right_categories, :conditions => { :categories => {:id => nil} })
      - unless rights.nil?
        .fieldset
          %a.small-icons.panel{ :href => '#' }
            = t('other')
          .option-panel-content
            .clear
            .multi-select-div
            - rights.each do |right|
              .checkbox-container
                %label= right.name
              .clear

  #right-sidebar.grid_4.omega.alpha
    .step
      /= link_to t('role.duplicate').capitalize, [:duplicate, :admin, @role], :class => 'small-icons duplicate'
      = link_to t('user.destroy.action').capitalize, [forgeos_core, :admin, @role], :confirm => t('user.destroy.confirm').capitalize, :method => :delete, :class => 'small-icons delete'
    #role_show_attributed_to.step.open
      %a.small-icons.step-title{ :href => "#" }
        = t('role.attributed_to').capitalize
      .administrators-list
        - @role.administrators.each do |admin|
          .admin
            %span.small-icons.user-ico
              .user-name
                = link_to admin.fullname, [forgeos_core, :admin, admin]
        .clear
