#dashboard.statistics.form-horizontal.row-fluid
  .left-dashboard.span8.inner-content
    = field_set_tag t('.trends'), :class => 'well' do
      .trend_filter
        - form_tag forgeos_core.admin_statistics_path, :id => 'form_stats' do
          %label= t('statistic.show.for')
          = select_tag :timestamp, options_for_select([[t('please_select'), nil], [t('statistic.last.month'), 'month'], [t('statistic.last.week'), 'week']], params[:timestamp]), :onchange => "$('#form_stats').submit()"
      .chart= raw @graph

    = field_set_tag t('.search'), :class => 'well' do
      .tabbable
        %ul.nav.nav-tabs
          %li.active= link_to t('top_5_items'), '#top-search'
        .tab-content
          #top-search.tab-pane.active
            %table
              %tbody
                - @keywords.each do |keyword_id, count|
                  - if search_keyword = SearchKeyword.find_by_id(keyword_id)
                    %tr{ :class => cycle('odd','even')}
                      %td= search_keyword.keyword
                      %td=t 'seen', :count => count, :scope => :search_keyword

  .right-dahsboard.span4
    = field_set_tag t('.keyfacts'), :class => 'well' do
      .control-group
        %label.control-label.keyfacts-name=t 'visitor', :count => 2
        .controls
          .keyfacts-value= Forgeos::Statistics.total_of_visitors(@date)
