= render :partial => 'tabs'
- form_for @setting, :url => admin_setting_path do |f|
  .backgrounds.big-header
    = f.text_field :name, :class => 'defaultValue', :title => t(:shop_name)
    .interact-links
      = submit_tag I18n.t('save_changes').capitalize, :class => 'backgrounds interact-button'
      = t :or
      = link_to I18n.t('cancel').capitalize, admin_static_content_blocks_path, :class => 'back-link'
  #content.grid_16.alpha.omega
    .grid_16.alpha
      .padding-wrap
        .fieldset.grid_11
          %h2= t :company_info
          .clear
          - f.fields_for :address do |address|
            .street-input
              = address.label :address, t(:address, :count => 1).capitalize
              = address.text_field :address
            .street-input
              = address.label :address_2, t(:address, :count => 1).capitalize
              = address.text_field :address_2
            .zip-code-input
              = address.label :zip_code, t(:zip_code).capitalize
              = address.text_field :zip_code
            .town-input
              = address.label :city, t(:city).capitalize
              = address.text_field :city
            .country-select
              = address.label :country_id, t(:country).capitalize
              = address.collection_select :country_id, Country.find(:all, :order => "name"), :id, :printable_name, :prompt => t(:please_select)
            .clear
        .tool-tip-settings.grid_4
          The shop localization reassure your customers.
        .fieldset.grid_11
          %h2= t :contact_info
          .clear
          .phone-input
            = f.label :phone_number, t(:phone_number).capitalize
            = f.text_field :phone_number
          .phone-input
            = f.label :fax_number, t(:fax_number).capitalize
            = f.text_field :fax_number
          .phone-input
            = f.label :email, t(:email).capitalize
            = f.text_field :email
          .clear
        .tool-tip-settings.grid_4
          The shop localization reassure your customers.
    .clear
