= simple_form_for [forgeos_core, :admin, admin], :as => :administrator, :html => { :id => 'wrap', :multipart=>true } do |f|
  = form_header do
    .big-header
      = f.button :wrapped, :cancel => [forgeos_core, :admin, :administrators]
      = f.select :civility, t('civility.select'), { :prompt => t(:please_select) }, :class => 'civility'
      = f.text_field :firstname, :placeholder => t('firstname'), :class => 'field_name firstname'
      = f.text_field :lastname, :placeholder => t('lastname'), :class => 'field_name lastname'
  #content.row-fluid
    .inner-content.span9
      = field_set_tag nil, :class => 'well' do
        = f.input :lang, :as => :select, :collection => I18n.available_locales
        - (f.object.class.input_columns - [ :lang, :firstname, :lastname, :civility ]).each do |field|
          = f.input field
    #right-sidebar.span3
      - unless admin.new_record?
        .step
          = mail_to admin.email, i(:envelope) + t('administrator.contact.action')
          = link_to [forgeos_core, :admin, admin], :data => { :confirm => t('administrator.destroy.confirm') }, :method => :delete do
            = i :trash
            = t 'administrator.destroy.action'
