.backgrounds.big-header
  = @admin.firstname
  = @admin.lastname
  .interact-links
    = link_to t('administrator.update.action'), [forgeos_core, :edit, :admin, @admin], :class => 'backgrounds interact-button'
    =t 'or'
    = link_to t('cancel'), forgeos_core.admin_administrators_path, :class => 'back-link'
#content.grid_16.alpha.omega
  .grid_12.alpha
    .inner-content
      =t 'avatar'
      %div= image_tag(@admin.avatar.public_filename(:small)) if @admin.avatar
      =t 'email'
      %div= @admin.email
      =t :role, :count => 1
      %div
        = @admin.role.name
  #right-sidebar.grid_4.omega
    .step
      = mail_to @admin.email,t('administrator.contact.action'),  :class => 'small-icons contact'
      =# link_to t('administrator.duplicate.action'), [:duplicate,:admin,@admin], :class => 'small-icons duplicate'
      = link_to t('administrator.destroy.action'), [forgeos_core, :admin, @admin], :confirm => t('administrator.destroy.confirm'), :method => :delete, :class => 'small-icons delete'
