!!! 5
%html{ :lang => I18n.locale }
  %head
    %meta{ :content => 'text/html; charset=utf-8', 'http-equiv' => 'Content-Type' }
    %link{ :href => '/assets/forgeos/admin/favicon.gif', :rel => 'shortcut icon', :type => 'image/gif' }
    %title=t :login, :scope => ['back_office', 'menu']
    = csrf_meta_tag
    = stylesheet_link_tag 'forgeos/admin/login'
  %body
    = yield
    = forgeos_js_vars
    = javascript_include_tag 'forgeos/admin/login'
