!!! 5
%html{ :lang => I18n.locale }
  %head
    %meta{ :content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type" }
    %link{ :href => "/assets/forgeos/admin/favicon.gif", :rel => "shortcut icon", :type => "image/gif" }
    %title= "#{t(:forgeos)} - #{t(controller.controller_name, :scope => ['back_office', 'menu'])}"
    = csrf_meta_tag
    = stylesheet_link_tag 'forgeos/admin/base'
  %body
    #container.container_16
      - build_menu(Forgeos::MENU_HASH[:forgeos][:admin][:submenu], :menu => :submenu)
      - build_menu(Forgeos::MENU_HASH[:forgeos][:admin][:menu])
      #submenu.navbar
        .navbar-inner
          .container
            %ul.nav= yield :submenu
      #menu.navbar
        .navbar-inner
          .container
            %ul.nav= yield :menu

      #page.grid_16
        = yield

      #footer
      #dialog
      #notifications.grid_16
    = forgeos_js_vars
    = javascript_include_tag 'forgeos/admin'
