!!! XML
!!! 5
%html{ 'xml:lang' => I18n.locale, :xmlns => 'http://www.w3.org/1999/xhtml' }
  %head
    %meta{ :content => 'text/html; charset=utf-8', 'http-equiv' => 'Content-Type' }
    %link{ :href => '/assets/forgeos/admin/favicon.gif', :rel => 'shortcut icon', :type => 'image/gif' }
    = stylesheet_link_tag 'forgeos/admin/login'
    = javascript_include_tag 'jquery'
    %title= I18n.t(:login, :scope => ['back_office', 'menu'])
  %body
    = yield
    = javascript_include_tag 'forgeos/admin/login'
    :javascript
      window._forgeos_js_vars = {
       "locale": '#{I18n.locale}'
      }
      jQuery(document).ready(function(){
        display_notifications();
      });
