.fieldset.noborder
  .street-input
    %label= I18n.t(:email).capitalize
    = f.text_field :email
  .street-input
    %label
      = I18n.t(:password).capitalize
    = f.text_field :password
    = f.hidden_field :password_confirmation
  .clear
  .street-input
    %label= I18n.t(:telephone).capitalize
    = f.text_field :phone
  .street-input
    %label= I18n.t(:other_telephone).capitalize
    = f.text_field :other_phone
  = f.hidden_field :country_id
