.fieldset
  %a.small-icons.panel{ :href => '#' }
    = I18n.t('user.contact_infos').capitalize
  .option-panel-content
    .street-input
      %label= I18n.t(:telephone).capitalize
      = f.text_field :phone
    .street-input
      %label= I18n.t(:other_telephone).capitalize
      = f.text_field :other_phone
    .street-input
      %label= I18n.t(:email).capitalize
      = f.text_field :email
  .clear

