#imageUploadDialog.upload-lightbox-container.white
  #imageUpload
  %span= I18n.t('or')
  %a{ :onclick => "jQuery('#imageSelectDialog').dialog('open');"}= I18n.t 'media.add_form_library'

#imageSelectDialog.media-hoverlay
  .media-hoverlay-header
    %a.backgrounds.button{ :onclick => "jQuery('#imageUploadDialog').dialog('open'); jQuery('#imageSelectDialog').dialog('close')" }
      %span.big-icons.add-picture= I18n.t 'media.picture.upload.action'
    .display-mode
      .heading-separator
      .display-thumbnails
      .display-list.off
    #search.right.image= fg_search
    .backgrounds.search-form-image
    .backgrounds.search-form-thumbnails
  .media-hoverlay-sidebar.grid_3.omega.alpha
    .sidebar-content
      %h2.small-icons.picture
        %a{ :onclick => "select_all_elements_without_category('picture-attachment-tree')" }= I18n.t 'media.picture.all'
      #picture-attachment-tree
  .media-hoverlay-content.thumbnails
    #thumbnail-table.table.datatable.media.selectable_rows
  .media-hoverlay-content.table.hidden
    %table#image-table.datatable.media.selectable_rows
      %tr
        %td

= dataSlides_tag :id => 'thumbnail-table', :url => forgeos_core.admin_attachments_path(:format => :json, :skin => 'thumbnail', :file_type => 'picture', :mode => 'selection'), :columns => [ '{ "bSortable": true, "bSearchable": true, "sType": "string", "bUseRendered": true, "fnRender": null, "iDataSort": 0, "nTf": null, "nTh": function(){$(".thead").find(".th");}, "sWidth": "0px"}','{"bVisible": false}', '{ "bVisible": false }', '{ "bVisible": false}' ], :autostart => false

= dataTables_tag :id => 'image-table', :url => forgeos_core.admin_attachments_path(:format => :json, :file_type => 'picture', :mode => 'selection'), :columns => ["{'sClass':'th-checkbox-container', 'bSortable': false }","{ 'sTitle': '#{I18n.t('media.filename')}'}","{ 'sTitle': '#{I18n.t('media.content_type')}'}","{ 'sTitle': '#{I18n.t('media.updated_at')}'}","{ 'sTitle': '#{I18n.t('media.size')}'}", '{"bVisible": false}', '{ "bVisible": false }','{ "bVisible": false}','{ "bVisible": false}','{ "bVisible": false}'], :autostart => false

#fileUploadDialog.upload-lightbox-container.white
  #fileUpload

#fileSelectDialog.media-hoverlay
  #inner-lightbox.backgrounds
    - %w(pdf audio video doc media).each do |file_type|
      %a.small-icons{ :onclick => "update_current_dataTable_source('#table-files','#{escape_javascript(forgeos_core.admin_attachments_path(:mode => 'selection',:format => :json, :file_type => file_type))}')", :class => file_type }= I18n.t(:other, :scope => [:media,file_type])
  .media-hoverlay-header
    %a.backgrounds.button{ :onclick => "jQuery('#fileUploadDialog').dialog('open'); jQuery('#fileSelectDialog').dialog('close')" }
      %span.big-icons.add-media= I18n.t 'media.upload.action'
    #search.right.files= fg_search
    .backgrounds.search-form-files
  .media-hoverlay-content
    %table#table-files.datatable.media.selectable_rows
      %tr
        %td

= dataTables_tag :id => 'table-files', :url => forgeos_core.admin_attachments_path(:format => :json, :file_type => 'pdf', :mode => 'selection'), :columns => ["{'sClass':'th-checkbox-container', 'bSortable': false }","{ 'sTitle': '#{I18n.t('media.filename')}'}","{ 'sTitle': '#{I18n.t('media.content_type')}'}","{ 'sTitle': '#{I18n.t('media.updated_at')}'}","{ 'sTitle': '#{I18n.t('media.size')}'}", '{"bVisible": false}', '{ "bVisible": false }','{ "bVisible": false}','{ "bVisible": false}','{ "bVisible": false}'], :autostart => false
