#imageUploadDialog.upload-lightbox-container
  = file_field_tag :uploaded_date, :id => 'imageUpload'

#imageSelectDialog.attachment-hoverlay
  .attachment-hoverlay-header
    %a.btn.upload-link
      = i :upload
      = t 'picture.upload.action'
    %span.display-mode
      %a.btn.display-thumbnails
        = i('th-large')
      %a.btn.display-list.off
        = i('th-list')
    #search_image.right.forgeos-thumbnails
  .row-fluid
    .attachment-hoverlay-sidebar.span3
      .sidebar-content
        %h2
          = i(:picture)
          %a.datatable-select-all{ :"data-tree-id" => 'picture-attachment-tree' }= t 'picture.all'
        #picture-attachment-tree
    .attachment-hoverlay-content.forgeos-thumbnails.span9
      :ruby
        slide = dataslide(:class => 'attachment',
        :selectable => true,
        :autostart => false,
        :id => 'thumbnail-table',
        :url => forgeos_core.admin_attachments_path(:format => :json, :skin => 'thumbnail', :klass => 'forgeos::Picture', :mode => 'selection'),
        :columns => [{
          :bSortable => true,
          :bSearchable => true,
          :sType => "string",
          :bUseRendered => true,
          :fnRender => nil,
          :iDataSort => 0,
          :nTf => nil,
          :nTh => 'function(){jQuery(".thead").find(".th");}', :sWidth => "0px"},
          { :bVisible => false },
          { :bVisible => false },
          { :bVisible => false }
        ])
      = slide
    .attachment-hoverlay-content.table.span9.hidden
      :ruby
        table = datatable(:class => 'attachment',
        :selectable => true,
        :id => 'image-table',
        :autostart => false,
        :url => forgeos_core.admin_attachments_path(:format => :json, :klass => 'forgeos::Picture', :mode => 'selection'),
        :columns => [
          { :sClass => 'th-checkbox-container', :bSortable => false },
          { :sTitle => t('attachment.filename') },
          { :sTitle => t('attachment.content_type') },
          { :sTitle => t('attachment.updated_at') },
          { :sTitle => t('attachment.size') },
          { :bVisible => false},
          { :bVisible => false },
          { :bVisible => false},
          { :bVisible => false},
          { :bVisible => false}
        ])
      = table

#fileUploadDialog.upload-lightbox-container
  = file_field_tag :uploaded_date, :id => 'fileUpload'

#fileSelectDialog.attachment-hoverlay
  .attachment-hoverlay-header.row-fluid
    .span4
      %a.btn
        = t :upload
        = t 'attachment.upload.action'
    .span8
      - %w(pdf audio video doc medium).each do |file_type|
        - url = forgeos_core.admin_attachments_path(:mode => 'selection',:format => :json, :klass => "forgeos::#{file_type.capitalize}")
        %a.btn.library-change-type{ :"data-table-id" => "#table-files", :href => url, :class => file_type }
          =i t(:bootstrap_icon, :scope => file_type)
          =t :other, :scope => file_type
  .row-fluid
    .attachment-hoverlay-sidebar.span4
      .sidebar-content
        %h2
          = i(:file)
          %a.datatable-select-all{ :"data-tree-id" => 'file-attachment-tree' }= t 'attachment.file.all'
        #file-attachment-tree
    .attachment-hoverlay-content.span8
      :ruby
        table = datatable(:class => 'attachment',
        :selectable => true,
        :id => 'table-files',
        :autostart => false,
        :url => forgeos_core.admin_attachments_path(:format => :json, :klass => 'forgeos::Pdf', :mode => 'selection'),
        :columns => [
          { :sClass => 'th-checkbox-container', :bSortable => false },
          { :sTitle => t('attachment.filename') },
          { :sTitle => t('attachment.content_type') },
          { :sTitle => t('attachment.updated_at') },
          { :sTitle => t('attachment.size') },
          { :bVisible => false},
          { :bVisible => false },
          { :bVisible => false},
          { :bVisible => false},
          { :bVisible => false}
        ])
      = table
