= form_for admin, :url => [forgeos_core, :admin, :account], :as => :administrator, :html => { :method => :put, :multipart => true } do |f|
  = form_header do
    .big-header
      = f.select :civility, t('civility.select'), { :prompt => t(:please_select) }, :class => 'civility'
      = f.text_field :firstname, :placeholder => t('firstname'), :class => 'field_name firstname'
      = f.text_field :lastname, :placeholder => t('lastname'), :class => 'field_name lastname'
      .interact-links= forgeos_save_buttons([forgeos_core, :admin, :account])
  #content
    - admin.build_avatar unless admin.avatar
    = f.fields_for :avatar do |avatar|
      = avatar.label :uploaded_data, t('avatar')
      %div
        - if admin.avatar && !admin.avatar.new_record?
          = image_tag(admin.avatar.public_filename(:small))
        = avatar.file_field :uploaded_data
    = f.label :email, t('email')
    %div
      = f.text_field :email
    = f.label :password, t('password')
    %div
      = f.password_field :password
    = f.label :password_confirmation, t('password_confirmation')
    %div
      = f.password_field :password_confirmation
    = f.label :lang, t(:lang, :count => 1)
    %div
      = f.select :lang, I18n.available_locales.collect{ |locale| [t(locale, :scope => [:lang, :full]),locale.to_s]}, :prompt => t(:please_select)
    .clear
    = f.label :time_zone, t(:time_zone, :count => 1)
    %div
      = f.time_zone_select :time_zone, ActiveSupport::TimeZone.all
