= simple_form_for admin, :url => [forgeos_core, :admin, :account], :as => :administrator, :html => { :method => :put, :multipart => true } do |f|
  = form_header do
    .big-header
      = f.button :wrapped, :cancel => [forgeos_core, :admin, :account]
      = f.select :civility, t('civility.select'), { :prompt => t(:please_select) }, :class => 'civility'
      = f.text_field :firstname, :placeholder => t('firstname'), :class => 'field_name firstname'
      = f.text_field :lastname, :placeholder => t('lastname'), :class => 'field_name lastname'
  #content
    .inner-content
      = field_set_tag nil, :class => 'well' do
        - (f.object.class.input_columns - [ :firstname, :lastname, :civility ]).each do |field|
          = f.input field
