.big-header
  %h1= @user.full_name
  .interact-links
    = link_to t('account.update.action'), forgeos_core.edit_admin_account_path, :class => 'btn btn-primary'
#content
  #customer-see.inner-content
    .fieldset
      %h3=t :infos, :scope => [:back_office, :account]
      .main-infos
        .main-infos-cutomer
          - if @user.avatar
            %h4.small-icons #{t(:avatar)} :
            = image_tag(@user.avatar.public_filename(:thumb))
          %h4.small-icons #{t('email')} :
          = @user.email
      .clear
