= form_for [forgeos_core, :admin, role], :as => :role, :html => { :id => 'wrap', "data-object_name" => role.class.model_name.singular } do |f|
  = form_header do
    .big-header
      = f.text_field :name, :class => 'field_name'
      .interact-links= forgeos_save_buttons [forgeos_core,:admin,:roles]
  #content.row-fluid
    .span9
      .padding-wrap
        = hidden_field_tag "role[right_ids][]"
        - Forgeos::RightCategory.joins(:translations).order('name').each do |right_category|
          = render 'form_rights', :title => right_category.name, :rights => right_category.rights, :role => role

        = render 'form_rights', :title => t(:other), :rights => Forgeos::Right.where(:forgeos_categories_elements => {:category_id => nil}).includes(:categories), :role => role

    #right-sidebar.span3
      - unless role.new_record?
        .step
          = link_to [forgeos_core, :admin, role], :confirm => t('role.destroy.confirm'), :method => :delete do
            = i :trash
            = t 'role.destroy.action'
        #role_attributed_to.step.open
          %a.icon-step-title{ :href => "#" }=t 'role.attributed_to'
          .administrators
            - role.administrators.each do |admin|
              .admin
                = i 'user-md'
                = admin.full_name

    .clear
