= simple_form_for [forgeos_core, :admin, role], :as => :role, :html => { :id => 'wrap', "data-object_name" => role.class.model_name.singular } do |f|
  - categories = Forgeos::RightCategory.joins(:translations).order('name')
  = form_header do
    .big-header
      = f.button :wrapped, :cancel => [forgeos_core,:admin,:roles]
      = f.text_field :name, :class => 'field_name'
    #scrollbar
      %ul.nav.nav-pills
        - categories.each do |cat|
          %li= link_to cat.name_without_path, "##{polymorphic_html_id(cat)}"
        %li= link_to 'Other', '#other'
  #content.row-fluid
    .inner-content.span9
      - categories.each do |category|
        = field_set_tag category.name_without_path, :id => polymorphic_html_id(category) do
          = f.association :rights, :label => false, :as => :check_boxes, :collection => category.rights

      = field_set_tag :other, :id => 'other' do
        = f.association :rights, :label => false, :as => :check_boxes, :collection => Forgeos::Right.includes(:categories).where(:forgeos_categories_elements => {:category_id => nil})

    #right-sidebar.span3
      - unless role.new_record?
        .step
          = link_to [forgeos_core, :admin, role], :data => { :confirm => t('role.destroy.confirm')}, :method => :delete do
            = i :trash
            = t '.destroy'
        #role_attributed_to.step.open
          %a.icon-step-title{ :href => "#" }=t 'role.attributed_to'
          .administrators
            - role.administrators.each do |admin|
              .admin
                = i 'user-md'
                = admin.fullname
