.big-header.form-horizontal
  .form-actions
    = link_to t('role.update.action'), [forgeos_core, :edit, :admin, role], :class => 'btn btn-large btn-primary'
    = t('simple_form.buttons.or')
    = link_to t('simple_form.buttons.cancel'), [forgeos_core, :admin, :roles], :class => 'btn btn-mini'
  %h1= role.name

#content.row-fluid
  .inner-content.span9
    - right_categories = Forgeos::RightCategory.joins(:translations).order('name').all
    - right_categories.each do |right_category|
      - unless right_category.rights.nil?
        %fieldset.well
          %legend= right_category.name
          - right_category.rights.each do |right|
            %label= right.name

    - rights = Forgeos::Right.where(:forgeos_categories_elements => {:category_id => nil}).includes(:categories)
    - if rights.any?
      %fieldset.well
        %legend=t :other
        - rights.each do |right|
          %label= right.name

  #right-sidebar.span3
    .step
      = link_to [forgeos_core, :admin, role], :data => {:confirm => t('user.destroy.confirm')}, :method => :delete do
        = i :trash
        = t 'user.destroy.action'
    #role_show_attributed_to.step.open
      %a.icon-step-title=t 'role.attributed_to'
      .administrators-list
        - role.administrators.each do |admin|
          .admin
            = i 'user-md'
            = link_to admin.full_name, [forgeos_core, :admin, admin]
