.backgrounds.big-header
  %h1= @role.name
  .interact-links
    = link_to t('role.update.action'), [forgeos_core, :edit, :admin, @role], :class => 'btn btn-large btn-primary'
    = link_to t('back'), [forgeos_core, :admin, :roles], :class => 'btn btn-mini'

#content.grid_16.alpha.omega
  .grid_12.alpha
    .padding-wrap
      - right_categories = Forgeos::RightCategory.joins(:translations).order('name').all
      - right_categories.each do |right_category|
        - unless right_category.rights.nil?
          .fieldset
            %a.small-icons.panel{ :href => '#' }
              = right_category.name
            .option-panel-content
              .clear
              - right_category.rights.each do |right|
                %label= right.name
              .clear

      - rights = Forgeos::Right.where(:forgeos_categories_elements => {:category_id => nil}).includes(:categories)
      - if rights.any?
        .fieldset
          %a.small-icons.panel{ :href => '#' }
            =t 'other'
          .option-panel-content
            .clear
            .multi-select-div
            - rights.each do |right|
              .checkbox-container
                %label= right.name
              .clear

  #right-sidebar.grid_4.omega.alpha
    .step
      = link_to [forgeos_core, :admin, @role], :confirm => t('user.destroy.confirm'), :method => :delete do
        = i :trash
        = t 'user.destroy.action'
    #role_show_attributed_to.step.open
      %a.small-icons.step-title{ :href => "#" }=t 'role.attributed_to'
      .administrators-list
        - @role.administrators.each do |admin|
          .admin
            = i 'user-md'
            = link_to admin.full_name, [forgeos_core, :admin, admin]
        .clear
