= render :partial => 'tabs'
- form_tag({ :action => :create } , :multipart => true, :id => 'import_form') do
  .backgrounds.big-header
    .interact-links
      = fg_submit_tag 'import.send_file'
  #content.grid_16.alpha.omega
    .grid_12.alpha
      .inner-content
        = label_tag :import, :model
        %div
          = select :import, :model, options_for_select(@models.sort), { :prompt => true }, :onchange => "jQuery('#import_form').attr('action', 'import/create_'+this.value)"
        .clear
        = label_tag :file
        %div
          = file_field_tag :file
    #right-sidebar.grid_4.omega
      .step
        = label :parser_options, :col_sep
        = text_field :parser_options, :col_sep, :value => ',', :size => 2
        = label :parser_options, :quote_char
        = text_field :parser_options, :quote_char, :value => '"', :size => 2
= javascript_tag "jQuery('#import_form').attr('action', 'import/create_'+jQuery('#import_model').val())"
