= form_for [forgeos_core, :admin, right], :as => :right, :html => { :id => 'wrap' } do |f|
  %p
    %b
      = f.label :name, t('name')
      \:
    = f.text_field :name
  %p
    %b
      = f.label :controller_name, t('controller_name')
      \:
    = f.text_field :controller_name
  %p
    %b
      = f.label :action_name, t('action_name')
      \:
    = f.text_field :action_name
  %p
    = f.submit t('save')

- if !(right.new_record?)
  - content_for :tools, link_to(t('show'), [forgeos_core, :admin,right])
