= render :partial => 'tabs'
= render :partial => 'left_sidebar', :locals => {:icon_class => 'all-rights', :sidebar_title => 'right.all', :tree_id =>'rights-tree' }

#content.grid_12.alpha.omega
  .backgrounds.header
    = link_to content_tag(:span,I18n.t('right.create.action').capitalize, :class=>'big-icons create-rights'), '#', :class=>'backgrounds action-button create-right'
    #search.right
      = fg_search
    .backgrounds.search-form
  .content-background
  %table#table.datatable.draggable_rows

= dataTables_tag :url => forgeos_core.admin_rights_path(:format => :json), :columns => ["{'bSearchable':false,'bSortable':false}","{'sTitle':'#{escape_javascript(I18n.t :name)}'}","{'sTitle':'#{escape_javascript(I18n.t :controller_name)}'}","{'sTitle':'#{escape_javascript(I18n.t :action_name)}'}","{'sClass':'actions-td','bSearchable':false,'bSortable':false}"]
