.large-image.span3
  %audio#audio-player#{ :src => audio.public_filename, :controls => true }

.large-info-container.span6
  .large-info-block
    %span.large-info-name.truncate
      =t 'attachment.filename'
    %span.large-info-value
      = audio.filename
    .clear
  .large-info-block
    %span.large-info-name
      =t 'attachment.picture.original_size'
    %span.large-info-value
      #{audio.width} x #{audio.height} #{t 'attachment.pixel', :count => 2}
    .clear
  .large-info-block
    %span.large-info-name
      =t 'attachment.file_type'
    %span.large-info-value
      = audio.file_type.upcase
    .clear
  .large-info-block
    %span.large-info-name
      =t 'attachment.updated_at'
    %span.large-info-value
      = audio.updated_at.to_s(:short)
    .clear
  .large-info-block
    %span.large-info-name
      =t 'attachment.size'
    %span.large-info-value= size_in_kb(audio.size)
    .clear
  .large-info-block
    %span.large-info-name
      =t 'attachment.description'
    %span.large-info-value
      = audio.description
    .clear

.clear
