= simple_form_for [forgeos_core, :admin, attachment], :as => :attachment, :html => { :multipart => true, :id => 'wrap', "data-object_name" => @attachment_class.model_name.singular } do |f|
  = form_header do
    .big-header
      = f.button :wrapped, :cancel => [forgeos_core, :admin, @file_type.pluralize]
      = f.text_field :name, :id => 'attachment.title', :class => 'field_name'

  #content.row-fluid
    .span9.well
      %h2.permalink
        #{t 'permalink', :count => 1} :
        = link_to attachment.public_filename, attachment.public_filename

    #right-sidebar.span3
      .step
        = link_to [forgeos_core, :admin, attachment], :data => { :confirm => t('attachment.destroy.confirm')}, :method => :delete do
          = i :trash
          = t 'attachment.destroy.action'
        .clear
      #attachment_associated_collection.step.open
        %a.icon-step-title= t('attachment.attachment_links')
        #association-attachment.tree.inner-step
          %ul
            = hidden_field_tag "#{f.object_name}[category_ids][]"
            = render :partial => 'forgeos/admin/categories/associated_elements', :locals => { :association_id => 'category_ids', :element => attachment, :category_ids => attachment.category_ids, :categories => find_categories_from_content_type(attachment) }
    = render :partial => @attachment.class.model_name.singular_route_key.dup, :object => attachment, :locals => { :form => f }
