.large-image.grid_7.omega

.large-info-container.grid_5.alpha.omega
  .large-info-block
    %span.large-info-name.truncate
      =t 'media.filename'
    %span.large-info-value
      = media.filename
    .clear
  .large-info-block
    %span.large-info-name
      =t 'media.file_type'
    %span.large-info-value
      = media.file_type.upcase
    .clear
  .large-info-block
    %span.large-info-name
      =t 'media.updated_at'
    %span.large-info-value
      = media.updated_at.to_s(:short)
    .clear
  .large-info-block
    %span.large-info-name
      =t 'media.size'
    %span.large-info-value #{media.size/1024} #{t 'media.byte.kilo'}
    .clear
  .large-info-block
    %span.large-info-name
      =t 'media.description'
    %span.large-info-value
      = media.description
    .clear

.clear
