.row-fluid
  - if largest_thumb = @thumbnails.shift
    .large-image.attachment.image-container.span3
      = image_tag largest_thumb.public_filename
      %br
      %span.attachment.size= t(largest_thumb.thumbnail, :scope => [:attachment, :thumbnails]).upcase
      %br
      %span.attachment.size-pixels
        #{largest_thumb.width} x #{largest_thumb.height} #{t 'attachment.pixel', :count => 2}

  .large-info-container.span6
    .large-info-block
      %span.large-info-name.truncate
        =t 'attachment.filename'
      %span.large-info-value
        = picture.filename
      .clear
    .large-info-block
      %span.large-info-name=t 'attachment.picture.original_size'
      %a.large-info-value{ :href => picture.public_filename } #{picture.width} x #{picture.height} #{t 'attachment.pixel', :count => 2}
      .clear
    .large-info-block
      %span.large-info-name
        =t 'attachment.file_type'
      %span.large-info-value
        = picture.file_type.upcase
      .clear
    .large-info-block
      %span.large-info-name
        =t 'attachment.updated_at'
      %span.large-info-value
        = picture.updated_at.to_s(:short)
      .clear
    .large-info-block
      %span.large-info-name
        =t 'attachment.size'
      %span.large-info-value= size_in_kb picture.size
      .clear
    .large-info-block
      %span.large-info-name
        =t 'attachment.alt'
      %span.large-info-value
        = picture.alt
      .clear
    .large-info-block
      %span.large-info-name
        =t 'attachment.description'
      %span.large-info-value
        = picture.description
      .clear

- @thumbnails.each do |thumb|
  .attachment.image-container
    = image_tag thumb.public_filename
    %br
    %span.attachment.size= t(thumb.thumbnail, :scope => [:attachment, :thumbnails]).upcase
    %br
    %span.attachment.size-pixels #{thumb.width} x #{thumb.height} #{t 'attachment.pixel', :count => 2 }
