- if largest_thumb = @thumbnails.shift
  .large-image.media-image-container.grid_7.omega
    = image_tag largest_thumb.public_filename
    %br
    %span.media-size
      = I18n.t("media.thumbnails.#{largest_thumb.thumbnail}").upcase
    %br
    %span.media-size-pixels
      = "#{largest_thumb.width} x #{largest_thumb.height} #{I18n.t('media.pixel', :count => 2)}"

.large-info-container.grid_5.alpha.omega
  .large-info-block
    %span.large-info-name.truncate
      = I18n.t('media.filename').capitalize
    %span.large-info-value
      = picture.filename
    .clear
  .large-info-block
    - permalink = "#{request.protocol}#{request.host_with_port}#{picture.public_filename}"
    %span.large-info-name
      = I18n.t('media.picture.original_size').capitalize
    - size = "#{picture.width} x #{picture.height} #{I18n.t('media.pixel', :count => 2)}"
    = link_to size, permalink, :class => 'large-info-value'
    .clear
  .large-info-block
    %span.large-info-name
      = I18n.t('media.file_type').capitalize
    %span.large-info-value
      = picture.file_type.upcase
    .clear
  .large-info-block
    %span.large-info-name
      = I18n.t('media.updated_at').capitalize
    %span.large-info-value
      = picture.updated_at.to_s(:short)
    .clear
  .large-info-block
    %span.large-info-name
      = I18n.t('media.size').capitalize
    %span.large-info-value
      = "#{picture.size/1024} #{I18n.t('media.byte.kilo')}"
    .clear
  .large-info-block
    %span.large-info-name
      = I18n.t('media.alt').capitalize
    %span.large-info-value
      = picture.alt
    .clear
  .large-info-block
    %span.large-info-name
      = I18n.t('media.description').capitalize
    %span.large-info-value
      = picture.description
    .clear

.clear

- @thumbnails.each do |thumb|
  .grid_4.alpha.omega.media-image-container
    = image_tag thumb.public_filename
    %br
    %span.media-size
      = I18n.t("media.thumbnails.#{thumb.thumbnail}").upcase
    %br
    %span.media-size-pixels
      = "#{thumb.width} x #{thumb.height} #{I18n.t('media.pixel', :count => 2)}"
