= image_tag(attachment.public_filename(:small),:title=>attachment.filename, :id => "attachment_#{attachment.id}")
%br
= "#{attachment.content_type} - #{attachment.size/1024} Ko"
/
  %br
  =# NOT USED select_tag :thumbnail, options_for_select(attachment.attachment_options[:thumbnails].keys)
