.large-image.span3
  %video#video-player{ :src => video.public_filename, :controls => true }

.large-info-container.span6
  .large-info-block
    %span.large-info-name.truncate
      =t 'attachment.filename'
    %span.large-info-value
      = video.filename
    .clear
  .large-info-block
    %span.large-info-name
      =t 'attachment.picture.original_size'
    %span.large-info-value
      #{video.width} x #{video.height} #{t 'attachment.pixel', :count => 2}
    .clear
  .large-info-block
    %span.large-info-name
      =t 'attachment.file_type'
    %span.large-info-value
      = video.file_type.upcase
    .clear
  .large-info-block
    %span.large-info-name
      =t 'attachment.updated_at'
    %span.large-info-value
      = video.updated_at.to_s(:short)
    .clear
  .large-info-block
    %span.large-info-name
      =t 'attachment.size'
    %span.large-info-value= size_in_kb video.size
    .clear
  .large-info-block
    %span.large-info-name
      =t 'attachment.description'
    %span.large-info-value
      = video.description
    .clear
.clear
