= render :partial => 'tabs'
= render :partial => 'left_sidebar', :locals => { :icon_class => @file_type, :sidebar_title => "media.#{@file_type}.all", :tree_id =>"#{@file_type}-attachment-tree" }

#content.grid_12.alpha.omega
  .backgrounds.header
    = link_to content_tag(:span,I18n.t("media.#{@file_type}.create.action").capitalize, :class=>"big-icons add-#{@file_type}"), '#', :class => 'backgrounds action-button', :id => 'add-attachment', 'data-file_type' => @media_class
    #search.right
      = link_to content_tag(:span, I18n.t('search').capitalize, :class => 'small-icons search-span'), '#', :class => 'small-icons left search-link'
    .backgrounds.search-form
  .content-background
  %table#table.datatable.draggable_rows

= dataTables_tag :url => forgeos_core.admin_attachments_path(:format => :json, :file_type => @media_class), :columns => ['{"sClass": "image_product_td", "bSortable": false }',"{ 'sTitle': '#{I18n.t('name').capitalize}' }","{ 'sTitle': '#{I18n.t('type').capitalize}' }","{ 'sTitle': '#{I18n.t('media.updated_at').capitalize}' }","{ 'sTitle': '#{I18n.t('media.size').capitalize}' }", "{'bVisible': false, 'sTitle': '#{I18n.t('media.used').capitalize}'}", "{ 'bSortable': false, 'bSearchable': false, 'sClass': 'actions-td'}",'{ "bVisible": false}','{ "bVisible": false}','{ "bVisible": false}']

= render :partial => 'attachments_popup', :locals => {:klass => @media_class}
