!!! XML
!!! 5
%html{ "xml:lang" => I18n.locale, :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %meta{ :content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type" }
    %link{ :href => "/assets/forgeos/admin/favicon.gif", :rel => "shortcut icon", :type => "image/gif" }
    = stylesheet_link_tag 'forgeos/960', 'forgeos/jquery-ui/themes/forgeos', 'forgeos/admin/base', :cache => 'forgeos/admin'
    = javascript_include_tag 'jquery', 'swfobject'
    = csrf_meta_tag
    %title= "#{I18n.t(:forgeos)} - #{I18n.t(controller.controller_name, :scope => ['back_office', 'menu']).capitalize}"
  %body
    #container.container_16
      .grid_16
        %ul#submenu.backgrounds
          - build_menu(Forgeos::AdminSubMenu, :menu => :submenu)
          = yield :submenu
        %ul#menu.backgrounds
          - build_menu(Forgeos::AdminMenu)
          = yield :menu
        .backgrounds.menu-bottom
        #notifications.grid_16
      .clear
      #page.grid_16.ui-tabs.ui-widget.ui-widget-content.ui-corner-all
        = yield
      #footer
      #dialog
      = javascript_include_tag 'forgeos/admin/customselects', 'forgeos/admin/jquery-cookie-plugin', :cache => 'forgeos/admin/no-concat-lib'
      = javascript_include_tag 'tiny_mce/jquery.tinymce.js', 'jquery-ui', 'jquery_ujs', 'jquery.dataTables.min.js', 'forgeos/jquery.dataSlides.js', 'jquery.jstree.js', 'jquery.uploadify.js', :cache => 'forgeos/admin/lib'
      = eval("javascript_include_tag '#{forgeos_js_functions_files.join("','")}', :cache => 'forgeos/admin/functions'")
      = eval("javascript_include_tag '#{forgeos_js_inits_files.join("','")}', :cache => 'forgeos/admin/inits'")
      :javascript
        window._forgeos_js_vars = {
         "session_key": '#{Rails.application.config.session_options[:key]}',
         "session": encodeURIComponent('#{cookies[Rails.application.config.session_options[:key]]}'),
         "locale": '#{I18n.locale}',
         "token": encodeURIComponent('#{form_authenticity_token.inspect}')
        }
        jQuery(document).ready(function(){
          InitCustomSelects();
          display_notifications();
        });
